body{
    margin: 0;
}
header{
    background-color: #f1f1f1;
    padding-bottom: 1%;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    align-items: center;
}

.newsDiv {
    padding: 0;
    font-family: "Itim";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    border-bottom: 1px solid black;
    width: auto;
    display: flex;
    text-align: center;
}

.newsDiv a {
    text-decoration: none;
    color: black;
}
.category a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 600;
}
.category {
    width: 20%;
    display: flex;
    justify-content: space-between;
}